#-------------------------------------------------------------------------------
#                  LVCWebInterface plugin configuration
#-------------------------------------------------------------------------------

#
# Specifies the ethernet address on which this plugin will run.
# If left blank, the default ethernet address of the machine is used.
#
LVCWebInterface.inet =

#
# Port on which the LVCGame GUI service will run
#
LVCWebInterface.port = 8999

#
# Specifies whether html templates should be cached or always reloaded from
# disk (used for testing and debugging only).
#
# This key should always be set to true for improved performance under normal
# circumstances.
#
LVCWebInterface.cacheTemplates = true

#
# The number of blank entries that will be provided when adding incoming
# mappings.
#
LVCWebInterface.mapping.incoming.addmapping=10

#
# Page size is the number of rows to show on a single page of the outgoing
# mappings table.
#
LVCWebInterface.diagnostics.attributes.pagesize=100
LVCWebInterface.diagnostics.identifiers.pagesize=100
LVCWebInterface.mapping.outgoing.pagesize=100
LVCWebInterface.mapping.incoming.pagesize=50

# Page count is the number of pages you can jump ahead or back.
# If the value is 10, then you can see 10 pages in front and 10 pages behind.
LVCWebInterface.diagnostics.attributes.pagecount=10
LVCWebInterface.diagnostics.identifiers.pagecount=10
LVCWebInterface.mapping.outgoing.pagecount=10
LVCWebInterface.mapping.incoming.pagecount=10

#
# Number of points used to build the graph metrics (tick time, event count etc)
#
LVCWebInterface.metrics.historysize=500

