#-------------------------------------------------------------------------------
#                      HLA1.3 plugin: MC02 configuration
#
# NOTE 1: To use MC02, your FED file must contain the following:
#
#    (space HyperSpace
#      (dimension subspace)
#      (dimension one)
#      (dimension two)
#    )
#
# NOTE 2: Your RID file must be configured correctly to support point regions 
# via Multicast partitioning (Please see MC02 specific documentation).
#
#-------------------------------------------------------------------------------

# Lower/Upper range of appspace enums used for scaling of 'subspace' dimension.
#
hla13.ddm.mc02.minAppspaceDimensions = 0
hla13.ddm.mc02.maxAppspaceDimensions = 199

# These define the enumerations corresponding to the region names.
#
# These enumeration values are used to populate the 'subspace' field of
# each region as per the MC02 federation agreements.
# 
# Change these enumerations to match your set of regions so that each
# region is adequately used for publication/subscription by LVCGame.
#
hla13.ddm.mc02.spaces.blue_air_space = 1
hla13.ddm.mc02.spaces.red_air_space = 2
hla13.ddm.mc02.spaces.green_air_space = 3
hla13.ddm.mc02.spaces.blue_sea_space = 4
hla13.ddm.mc02.spaces.red_sea_space = 5
hla13.ddm.mc02.spaces.green_sea_space = 6
hla13.ddm.mc02.spaces.blue_ground_space = 7
hla13.ddm.mc02.spaces.red_ground_space = 8
hla13.ddm.mc02.spaces.green_ground_space = 9
hla13.ddm.mc02.spaces.blue_human_space = 10
hla13.ddm.mc02.spaces.red_human_space = 11
hla13.ddm.mc02.spaces.green_human_space = 12
hla13.ddm.mc02.spaces.fire_space = 13
hla13.ddm.mc02.spaces.detonation_space = 14
hla13.ddm.mc02.spaces.laser_space = 15


# Latitude/Longitude box to use for geographic scaling, in degrees.
#
# These values for the latitude and longitude need to cover the whole
# playbox..  In other words, a federate does NOT adjust these even if
# their terrain database is only a subset of this area.
#
# The values below are in degrees, using the following logic:
#
#   the origin is the intersection of the equator and the prime
#   meridian and is represented as (lat=0.0, long=0.0)
#
#   a latitiude value ranges from -90 (south pole) to 90 (north pole)
#   a longitude value ranges from -180 (west of PM) to 180 (east of PM)
#
# So, a pair like (lat=30, long=50) means 30 degrees north of the equator 
# and  50 degrees east of the prime meridian.
#
# Another example, (lat=-30, long=-125) means 30 degrees south of the
# equator, and 125 degrees west of the prime meridian.
#
hla13.ddm.mc02.minLat = 34.1
hla13.ddm.mc02.maxLat = 35.01
hla13.ddm.mc02.minLng = -114.2
hla13.ddm.mc02.maxLng = -112.0


# Latitude/Longitude box to use for subscription geographic scaling, in degrees.
#
# These control the subscription box and will restrict data to only be received
# within the defined area.
#
hla13.ddm.mc02.minSubLat = 34.1
hla13.ddm.mc02.maxSubLat = 35.01
hla13.ddm.mc02.minSubLng = -114.2
hla13.ddm.mc02.maxSubLng = -112.0

# Region update thresholds, in meters.
#
# These control the rate of notifyAboutRegionModification() calls based on
# a position threshold for published data.
#
hla13.ddm.mc02.groundRegionThreshold = 200.0
hla13.ddm.mc02.humanRegionThreshold = 200.0
hla13.ddm.mc02.seaRegionThreshold = 1500.1
hla13.ddm.mc02.airRegionThreshold = 1000.0

