
#--------------------------------------------------------------------------------
# This file is automatically managed by the LVCWebInterface Plugin.
# Please specify LVCWebInterface in your list of Plugins to change the
# contents of this file from a Graphical User Inerface.
#
# For additional information on configuring Plugins and LVCWebInterface
# refer to the LVC Game Software User manual.
#--------------------------------------------------------------------------------

# CUBE ---------------------------------------------------------------------
#m1 abraams
1 1 225 1 0 0 0		=Tank

1 1 225 6 0 0 0		=APC

#vbs2_us_ah64d_longbow_16hellfire
1 2 225 20 1 6 0	=LightHelicopter

#VBS2_US_Army_MH60L
1 2 225 20 0 0 0	=MediumHelicopter

#VBS2_US_MC_M1114_IWP_D_M240_X
1 1 225 6 1 21 0	=IFV
