
#--------------------------------------------------------------------------------
# This file is automatically managed by the LVCWebInterface Plugin.
# Please specify LVCWebInterface in your list of Plugins to change the
# contents of this file from a Graphical User Inerface.
#
# For additional information on configuring Plugins and LVCWebInterface
# refer to the LVC Game Software User manual.
#--------------------------------------------------------------------------------

cube = "cube", 0, 1
abraams = "M1 Abraams", 0, 1