<div class="section">
    <h1>Entity Identifiers</h1>
    <div class="text-center">
        <small><strong>{entityCount}</strong></small>
    </div>
    <div class="pageLinkContainer text-center">
        <a class="pagelink" href="?offset=0">
            <img class="imagetight" src="/media/images/arrow_start.gif" alt="Start" title="Start"/>
        </a>
        {pagingLinks}
        <a class="pagelink" href="?offset=max">
            <img class="imagetight" src="/media/images/arrow_end.gif" alt="end" title="End"/>
        </a>
    </div>

    <div id="entityIdentifiersTableWrapper">
        <div class="text-center">(Identities in bold created and managed by corresponding plugin)</div>
        {body}
        <div class="text-center">(Identities in bold created and managed by corresponding plugin)</div>
    </div>

    
</div>