#-------------------------------------------------------------------------------
#                       HLA 1516e plugin main configuration
#-------------------------------------------------------------------------------

# Specifies the DLL search path for this plugin.
#
# In particular, the location of the RTI DLLs must be specified here, so the 
# plugin loads the correct DLLs for the desired RTI.
#
hla1516e.path = C:\Program Files\prti1516e\lib\vc80

# RTI-specific Connection Settings. Set appropritately for your RTI
# hla1516e.connectionSettings =crcHost=192.168.1.227;crcPort=8989
# hla1516e.connectionSettings = ""

hla1516e.fomModules = \
    RPR2-D17_2010.xml

# Specifies any additional enviromnent variables that may be required by your
# RTI vendor. Please note that depending on the RTI vendor, setting the 
# environment variables in-process at runtime may not work as the RTI 
# libraries may cache or load environment variables direclty from the OS 
# rather than from the loaded process. 
# 
# In such cases (for example the DMSO and NG-Pro RTIs) it is recommended to
# specify all required environment variables at the OS level.
#
# To specify environment variables by using the 'hla1516e.env' key, add any number
# of key-value pairs as key=value delimited by commas. Optionally, multiple 
# variables may spawn multiple lines by adding ' \' at the end of a line, such 
# as:
#
# hla1516e.env = \
#    RTI_RID_FILE = c:\rti\rid.mtl, \
#    RTI_CONFIG=C:\Program Files\Bohemia Interactive\VBS2_VTK\config
#
hla1516e.env = 


# Specifies the type of federation in use.
hla1516e.federation = RPR2

# Specifies the federation execution name.
hla1516e.federationName = RPR2_Test

# Name and type of the federate joining the federation
hla1516e.federate= LVCGame
hla1516e.federateType= LVCGameType

# Specifies the set of object classes to subscribe (no regions)
#
hla1516e.subscribeObjects = \
    BaseEntity.PhysicalEntity.Platform \
    BaseEntity.PhysicalEntity.Lifeform \
    BaseEntity.PhysicalEntity.Munition \
    BaseEntity.PhysicalEntity.CulturalFeature \
    BaseEntity.PhysicalEntity.Sensor \
    EmbeddedSystem.Designator \
    EmbeddedSystem.RadioTransmitter

# Specifies the set of object classes to publish (no regions)
#
hla1516e.publishObjects = \
    BaseEntity.PhysicalEntity.Platform.Aircraft \
    BaseEntity.PhysicalEntity.Platform.GroundVehicle \
    BaseEntity.PhysicalEntity.Platform.Spacecraft \
    BaseEntity.PhysicalEntity.Platform.SubmersibleVessel \
    BaseEntity.PhysicalEntity.Platform.SurfaceVessel \
    BaseEntity.PhysicalEntity.Lifeform.Human \
    BaseEntity.PhysicalEntity.Munition \
    BaseEntity.PhysicalEntity.CulturalFeature \
    BaseEntity.PhysicalEntity.Sensor \
    BaseEntity.PhysicalEntity.Radio \
    BaseEntity.PhysicalEntity.Supplies \
    BaseEntity.PhysicalEntity.Expendables \
    EmbeddedSystem.Designator \
    EmbeddedSystem.RadioTransmitter

# Specifies the set of ineraction classes to subscribe (no regions)
#
hla1516e.subscribeInteractions = \
    WeaponFire \
    MunitionDetonation \
    Data \
    SetData \
    RadioSignal.EncodedAudioRadioSignal

# Specifies the set of interaction classes to publish (no regions)
#
hla1516e.publishInteractions = \
    WeaponFire \
    MunitionDetonation \
    Data \
    SetData \
    RadioSignal.EncodedAudioRadioSignal

# This is the application name / IPv4 address in Hex (BigEndian) used to fill
# in the name field of outgoing entities.
# (Where applicable)
#
hla1516e.appName = LVCGame/AABBCCDD


# This is the exercise ID field used for all outgoing Data
# (Where applicable)
#
hla1516e.exerciseID=1

# This is the Site ID field used for all outgoing Data
# (Where applicable)
#
hla1516e.siteID=88

# This is the application ID field used for all outgoing Data
# (Where applicable)
#
hla1516e.applicationID=16

# Default Dead Reckoning types for outgoing data.
#
# The outgoingDRType specifies which dead reckoning algorithm external 
# game clients will use to render local entities. 
# This DRType must be one of:
#
#       1 -> STATIC
#       2 -> FPW
#       3 -> RPW
#       4 -> RVW
#       5 -> FVW
#       6 -> FPB7
#       7 -> RPB
#       8 -> RVB
#       9 -> FVB
#
# After selecting an outgoingDRType, please confirm that the DRType is registered 
# under 'DRAlgorithm' of the gameclient configuration file.
#
hla1516e.outgoingDRType = 2

# Turns requestObjectAttributeValueUpdate() on when new objects are discovered.
#
# You can use this flag to ask other federates to send an update for all new
# objects discovered by LVCGame, when no heartbeats are used in a federation.
hla1516e.requestAttributeUpdateOnDiscover = true

# Number of milliseconds to wait between updates to a local entity before
# automatically sending one out. To turn this off, set it to 0.
hla1516e.heartbeat=5000

# Number of milliseconds to wait for updates from a remote entity before
# automatically deleting it. If an auto-deleted entity later comes back
# to life (through an attribute update), it will be automatically restored
# first. To turn this off, set it to 0.
hla1516e.deleteTimeout=60000

# Number of characters used for the Marking attribute of 
# 'BaseEntity.PhysicalEntity'.
# 
# Note that the default number of chars is 11, as per the RPR specifications,
# but some federations may use a different convention.
#
hla1516e.numMarkingChars = 11

# Disables subscription/publication of articulation data.
#
# This effectively turns off "ArticulatedParametersArray" on 
# 'BaseEntity.PhysicalEntity'
#
hla1516e.disableArticulatedParametersArray = false

# Enables the LiveVirtualConstructive attribute on BaseEntity
# This is an extension to the RPR FOM, use it if your federation requires
# this attribute.
#
hla1516e.enableLiveVirtualConstructive = false

# DDM strategy to use.
#
# If no DDM strategy is used, specify 'NONE'.
#
# If MC02 DDM is used, refer to ddm_mc02.config for specific configuration keys.
# 
hla1516e.ddm.strategy = NONE


