<tr class="{rowColor}">
    <td rowspan="1" class="text-center rowspantop">{medium}</td>
    <td rowspan="1" class="text-left rowspantop">{marking}</td>
    <td rowspan="1" class="text-right rowspantop">{position}</td>
    <td rowspan="1" class="text-center rowspantop">{entityType}</td>
    <td rowspan="2" class="text-center">{force}</td>
    <td rowspan="2" class="text-center">{status}</td>
    <td rowspan="2" class="text-center">{damageStr}</td>
</tr>
<tr class="{rowColor}">
	<td rowspan="1" class="text-center rowspanbottom" title="[execise ID, site ID, application ID]">{mediumId}</td>
    <td rowspan="1" class="text-left rowspanbottom">{gameMapping}</td>
    <td rowspan="1" class="text-right rowspanbottom">{altitude}</td>
    <td rowspan="1" class="text-right rowspanbottom" title="{speed_kph} km/h">{speed}</td>
</tr>