<div class="section">
    <h1>Diagnostics</h1>
    <p>
        <img class="alignleft helpstarter" src="/media/images/diagnostics.png" alt=""/>
        	<br/>
	The diagnostics views provide live information about runtime Metrics, Entity States, Entity IDs
	and Logging.
    </p>

    <p>
           The <strong>Metrics</strong> section displays information about all entities
	currently being processed by LVC Game, including graphical summaries of ticking time, 
	Entity Create/Update/Delete events and Fire/Detonation events.
    </p>

    <p>
          The <strong>Entity States</strong> section provides information on all entities 
	visible to LVC Game, such as Entity Marking, Position, Force,  Status and Damage.
	This view can be used to rapidly identify all units in the simulation at a glance.
    </p>

    <p>
        The <strong>Entity IDs</strong> section displays information about 
        the way specific entities are uniquely identified for a given plugin
        (protocol) or Game. For example,  the internal IDs used for HLA, DIS or the Game can
        be tracked by this view for each entity in the simulation.  Note that If a plugin does 
	not support Entity Identification a '&nbsp;-&nbsp;' 
        shall be displayed.
    </p>
        
    <p>
         The internal LVC Game logs can be viewed under the <strong>Logs Summary</strong> section.
	The messages displayed in this section are a condensed representation of 'LVCGame.log' and
	provide internal diagnostics to help pin-point any configuration or mapping issues.
    </p>
    
    <p>
    <strong>Note:</strong> Use the 'Search' feature located at the top of every page to only see information you
    are interested in. For example, you can quickly locate a Game Entity by name, type, location or status by entering
    a desired search keyword.
    </p>
</div>