#-------------------------------------------------------------------------------
#                       DIS plugin main configuration
#-------------------------------------------------------------------------------

# Inet address to use for DIS traffic (ethernet card)
#
# If this field is left blank, the default ethernet adapter will be resolved
# by using a hostname reverse lookup. In most cases, this field may be left
# blank. If you have multiple network adapters and require traffic on a specific
# adapter, use this field to select the desired network adapter.
dis.inet =

# This is the DIS network address.
#
# It can be set to a single host (point to point), a broadcast address or a
# multicast address.
#
# If this field is left blank broadcast is used, the default ethernet adapter
# will be resolved and '.255' applied to the lower part of the IP address.
dis.address = localhost

# This is the DIS port to use for sending data
dis.sendPort=3000

# This is the DIS port to use for receiving data
dis.receivePort=3000

# The time-to-live for multicast addresses.
dis.ttl=1

# This size (in millions of bytes) of the UDP receive buffer for incoming DIS packets.
dis.receiveBufferSize=5

# This is the DIS outgoing heartbeat in milliseconds (ms).
#
# A heartbeat is used to send out regular updates when entities are not
# moving so remote applications still receive EntityStatePDUs at regular
# intervals.
dis.heartbeat = 5000

# This is the entity deletion timeout in milliseconds (ms).
#
# Remote entities that are not updated within the specified timeout will be
# deleted from LVCGame. This is particularly useful when remote applications
# are no longer responding or go offline to prevent ghost entities.
dis.deleteTimeout = 60000

# This is the DIS protocol version number reported by all outgoing PDUs:
#
# 1 -> Version 1.0 Draft (1992)
# 2 -> IEEE 1278-1993
# 3 -> Version 2.0 Third Draft (May 1993)
# 4 -> Version 2.0 Fourth Draft (March 1994)
# 5 -> IEEE 1278.1-1995
# 6 -> IEEE 1278.1-1995 and IEEE 1278.1A-1998
#
# Note that this will not affect incoming PDUs, as LVCGame is able to receive
# all the above protocols transparently.
dis.protocol=6

# This is the exercise ID field used for all outgoing PDUs
#
dis.exerciseID=1

# This is the Site ID field used for all outgoing PDUs
#
dis.siteID=89

# This is the application ID field used for all outgoing PDUs
#
dis.applicationID=19

# This tells LVCGame not to filter incoming PDUs based on
# exercise ID, i.e. receive PDUs even if they are for
# a different exercise
#
dis.ignoreExerciseID=true

# Default Dead Reckoning types for outgoing PDUs
#
# The outgoingDRType specifies which dead reckoning algorithm external
# game clients will use to render local entities.
# This DRType must be one of:
#
#       1 -> STATIC
#       2 -> FPW
#       3 -> RPW
#       4 -> RVW
#       5 -> FVW
#       6 -> FPB
#       7 -> RPB
#       8 -> RVB
#       9 -> FVB
#
# After selecting an outgoingDRType, please confirm that the DRType is registered
# under 'DRAlgorithm' of the gameclient configuration file.
#
dis.outgoingDRType = 2

# Timestamp convention on outgoing PDUs
#
# Indicates if PDU timestamps are relative from local clock or absolute from UTC
# (refer to DIS specs).
#
# Specify 'true' for absolute and 'false' for relative.
#
dis.timestampAbsolute = false


